#sn_main_content {
    display: block;
    float: left;
    background:#e8ebf2;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: scroll;
}
#sn_main_content li {
    display: block;
    float: left;
    padding: 0;
}
#sn_header {
    width: 100%;
    height: 30px;
    background: rgb(227, 230, 236);
    margin-top: 10px;
}
#sn_content {
    background: #e8ebf2;
    width: 70%;
    height: 98%;
    margin-left: 16%;
}
#sn_content_ul {
    display: block;
}
#sn_sidebar {
    background: rgb(255, 255, 255);
    width: 13%;
    height: 100%;
    margin-right: 10px;
}
#sn_centerbar {
    width: 85%;
    height: 100%;
    background: #e8ebf2;
    margin: 0 2 0 2;
}
#sn_rightbar {
    width: 20%;
    height: 95%;
}
#sn_sidebar_sections {
    display: block;
    float: left;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
}
#sn_picture {
    height: 100px;
    width: 100%;
    border-bottom: 4px solid rgb(248, 248, 248);
}
#sn_picture_dtls {
    width: 100%;
    height: 50px;
}
#sn_picture_dtls #name {
    color: rgb(230, 90, 25);
    font-size: small;
}
#sn_picture_dtls {
    background: white;
}
#designation {
    color: black;
    font-size: x-small;
}
#sn_frnds_ul {
    display: block;
    float: left;
    width: 100%;
}
#snfrnds_header_1 {
    width: 45px;
    float: left;
    height: 20px;
    background: rgb(236, 239, 247);
    font-size: small;
}
#sn_friends {
    width: 100%;
    height: 180px;
    background: rgb(255, 255, 255);
    margin: 0;
}
#sn_frnds_content {
    width: 100%;
    height: 160px;
    background: rgb(255, 255, 255);
    padding: 0 2 0 2;
    border: 1px solid rgb(245, 245, 245);
}
#calendar {
    width: 100%;
    height: 120px;
    background: rgb(180, 176, 176);
    border-bottom: 2px solid rgb(224, 227, 235);
}
#sn_friends ul {
    padding: 0;
    width: 100%;
}
#calendar ul {
    padding: 0;
}
#sn_calendar_header {
    width: 100%;  clear: both;  height: 20px;
    font-size: small;
    background: rgb(236, 239, 247);
}
#sn_calendar_content {
    width: 100%;  height: 130px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(224, 227, 235);
}
#snfrnds_header_2 {
    float: right;
    font-size: x-small;
    color: rgb(34, 67, 233);
    margin-top: 2px;
}
#sn_frnds_header {
    width: 100%;
    background: rgb(236, 239, 247);
    margin-bottom: 4px;
}
#sn_header span {
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
    margin-left: 30px;
    display: none;
}
#sn_header_span {
    margin-left: 300px;
    margin-top: 4;
}
#sn_header span:after {
    content: " |";
    font-size: small;
    font-weight: 100;
    color: rgb(204, 196, 196);
}
#sn_header span:hover {
    cursor: pointer;
    color: rgb(253, 111, 0);
}
#sn_friend_img .frndId:hover {
    cursor: pointer;
}
#sn_picture:hover {
    cursor: pointer;
}
#snfrnds_header_2:hover {
    cursor: pointer;
    color: rgb(233, 73, 32);
}
#imgSpan {
    float: left;
    display: block;
}
#sn_friend_viewall {
    display: block;
    clear: both;
    float: left;
    font-size: small;
    color: rgb(23, 140, 218);
}
#sn_friend_viewall:before {
    content: ">";
    font-size: xx-small;
}
#sn_header span:first-child:before {
    content: "";
}
#sn_friend_viewall:hover {
    cursor: pointer;
}
#sn_centerbar_statusupdate {
    width: 100%;
    padding: 0;
}
#sn_centerbar_sections {
    padding: 0;
}
.frndId {
float: left;
}