#defaulttextarea {
	width: 450px;
}
#defaulttextarea ul {
    display: block;
    padding: 0;
    margin: 0;
}
#defaulttextarea li {
    display: block;
}
#statusbar {
    width: 100%;
    min-height: 30px;
    height: auto;
    background: rgb(255, 255, 255);
    float: left;
    border: 1px solid rgb(154, 178, 228);
    padding: 0;
}
#buttons {
    float: left;
    background: rgb(247, 245, 245);
    border: 1px solid rgb(154, 178, 228);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 30px;
    width: 100%;
}
#buttons ul {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
}
#buttons li {
    display: inline-block;
    background: transparent;
    color: rgb(20, 20, 20);
    font-family: sans-serif;
    font-size: small;
    padding: 0 3 0 3;
    border: 0;
    margin: 2 0 0 10;
    font-weight: bold;
}
#buttons li:hover {
}
#buttons #post {
    background-repeat: no-repeat;  background-size: auto;  background-position: -1px -539px;  background-color: #5b74a8;  border-color: #29447e #29447e #1a356e;  color: #fff;
    -moz-border-radius: 15px;
    border-radius: 4px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;  font-size: 11px;
    float: left;
    font-weight: bold;
    height: 12px;
    line-height: 10px;
    padding: 6px;
    width: 40px;
    text-align: center;  vertical-align: middle;
    margin-top: 2px;
}
#buttons #post:hover {
    cursor: pointer;
}
#statusbar ul {
    margin: 0;
    padding: 0;
    display: block;
}
#statusbar #status_textfield {
    min-height: 50px;
    width: 95%;
    float: left;
    margin-left: 20px;
}
#statusbar #attachment_field {
    float: left;
    width: 80px;
    height: 93px;
    border-width: 3px;
    margin: 0 3 3 40;
    border-style:dashed;
    border-color: rgb(204, 187, 187);
}
#attachment_field img {
    margin: 20 0 20 20;
}
#statusbar #attachment_field:hover {
    border-color: rgb(139, 139, 206);
    cursor: pointer;
}
#buttons #attachments {
    margin-left: 20px;
    background-image: url(/niku/socialppm/container/claritysn/SocialNetwork/components/statusbar/images/attachment.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    border: 1px solid rgb(183, 183, 202);
    border-radius: 4px;
    padding: 2;
    height: 20px;
    width: 20px;
}
#buttons #addpeople:hover {
cursor: pointer;
}
#buttons #addpeople {
margin-left: 20px;
background-image: url(/niku/socialppm/container/claritysn/SocialNetwork/components/statusbar/images/addperson.png);
background-size: 22px 22px;
background-repeat: no-repeat;
border: 1px solid rgb(183, 183, 202);
border-radius: 4px;
padding: 2;
height: 20px;
width: 20px;
}
#buttons #attachments:hover {
    cursor: pointer;
    border: 1px solid rgb(7, 7, 83);  border-radius: 4px;
}
#fileupload{
    position: relative;
    top: -145px;
    left: -5;
    height: 93px;
    width: 83px;
    z-index: 99999;
    opacity: 0;
}
:focus {
    outline: none;
}
#close_attachment {
    position: relative;
    top: -10px;
    float: right;
    background: rgb(255, 255, 255);
    right: -8px;
    background-image: url(/niku/socialppm/container/claritysn/SocialNetwork/components/statusbar/images/close.png);
    height: 15px;
    width: 15px;
}
.attachment_close {
    display: block;
}
.attachment_close img {
    position: relative;
    margin: 0;
    top: -30px;
    float: right;
    left: 10px;
	z-index: 99999;
}
#attachment_img {
    position: relative;
    top: -60px;
}

#statusupdate_ta {
    width: 420px;      min-height: 50px;
    border: 0px;
    font-family: Arial, sans-serif;      font-size: 13px;      overflow: hidden;
}
#status_textfield .lbr {
    line-height: 3px;
}
#status_textfield textarea {      padding: 5px;
      resize: none;}
#status_textfield .textstuff {
    resize: none; /* remove this if you want the user to be able to resize it in modern browsers */      overflow: hidden;
}
#status_textfield .hiddendiv {
    display: none;      white-space: pre-wrap;      word-wrap: break-word;      overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */;
}
#status_textfield .lbr {
    line-height: 3px;
}
#file_metadata {
    width: 250px;
    margin: 10 0 0 30;
}

.progress{position:relative;top: -200px;width: 75px;border:1px solid #ddd;padding:1px;border-radius: 2px;}.bar{background-color: rgb(21, 21, 22);width:0%;height: 10px;border-radius:3px}.percent{position:absolute;display:inline-block;top: 0px;font-size: xx-small;color: rgb(238, 237, 248);left:48%
