@import "../../ext/gxt/css/gxt-all.css";
@import "../../ext/codemirror/codemirror.css";
@import "../../npt/css/npt.css";
@import "../../projmgr/css/projmgr.css";
@import "../../pfm/css/pfm_portfolio.css";
@import "gantt.css";
@import "button.css";
@import "dialog.css";
@import "fields.css";
@import "grid.css";
@import "login.css";
@import "omnibar.css";
@import "portlet.css";
@import "tab.css";
@import "toolbar.css";
@import "ubermenu.css";
@import "calendar.css";
@import "clarity_sn.css";


/* The main, top-level Clarity CSS styles */

/* Reset CSS styles - thanks to meyerweb.com */
html,body,button,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
}

input[type=checkbox], input[type=radio] {
  margin: 2px;
}

a:link, a:visited {
  color: #003366;
  text-decoration: none;
}

a:hover, a:active {
  color: #AA0000;
  text-decoration: underline;
}

#ppm_app {
  color: #000000;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-size: 11px;
  position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.ppm_app_full {
  background: #E8EBF2 !important;
}

#ppm_workspace {
  margin: 0px 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 119px;
}

.ppm_page_content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 30px;
}

.ppm_workspace_title_row {
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.ppm_workspace_title {
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  padding: 11px 0px 5px 9px;
  text-shadow: #EFF4F7 -1px 1px;
}

.ppm_header {
  height: 38px;
  white-space: nowrap;
}

.ppm_header > table td {
  vertical-align: bottom;
}

.ppm_header_small {
  height: 30px;
  white-space: nowrap;
}

.ppm_header_links {
  top: 3px;
  right: 15px;
  position: absolute;
}

#ppm_header_user, #ppm_header_user_img {
  vertical-align: top;
}

.ppm_header_links a, .ppm_header_links a:visited {
  color: inherit;
  text-decoration: none;
  vertical-align: top;
}

.ppm_header_links a:hover {
  text-decoration: underline;
}

#ppm_header_logout {
  margin-left: 6px;
}

.ppm_header_links_div {
  margin-left: 6px;
  padding-left: 6px;
}

.ppm_refresh_small {
  background-color: transparent;
  cursor: pointer;
  margin: 2px 6px 0px 0px;
}

.ppm_addToFav_small {
  background-color: transparent;
  cursor: pointer;
  margin: 2px 6px 0px 0px;
}

.ppm_page_actions {
  margin: 5px 0px 0px 4px;
  float: right;
  white-space: nowrap;
  padding-right: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.ppm_page_actions a {
  margin-left: 5px;
}

.ppm_legend {
  margin-bottom: 7px;
}

.ppm_legend_item {
  margin-left: 16px;
}

.ppm_error, .ppm_alert {
  padding: 6px 0px;
  margin-left: 6px;
}

.ppm_error > div > span, .ppm_alert > div > span,
.ppm_error > span, .ppm_alert > span {
  margin: 0px 8px 0px 4px;
  color: #aa0000;
  font-weight: bold;
  text-transform: uppercase;
}

.ppm_worksheet_header {
  color: #001122;
  font-weight: bold;
  background-color:#92A7BB;
  vertical-align: bottom;
  text-align: center;
  padding: 3px;
  border-left: 1px solid #92A7BB;
  border-bottom: 1px solid #92A7BB;
}

.ppm_negative_value {
  color: #FF0000
}
.ppm_alert > div > span,
.ppm_alert > span {
  color: #958423;
}

/* == TIMESHEET ======================================================================================================= */
.pendingActuals { font-weight:bold !important; }
td.pendingActuals { background-color:#FCD741; }

/**
 Styles for the portfolio gauges
 */
.ppm_gauge_text_under{
    color: #6EA352;
}

.ppm_gauge_text_over{
    color: #BB1D2D;
}

.ppm_gauge_under{
   /* background-color: green; */
  background: #6EA352; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71A357', endColorstr='#4F8246'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#71A357), to(#4F8246)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #71A357, #4F8246); /* for firefox 3.6+ */

}

.ppm_gauge_over{
/*    background-color: red; */
 background: #BB1D2D; /* for non-css3 browsers */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC2434', endColorstr='#9A3334'); /* for IE */
 background: -webkit-gradient(linear, left top, left bottom, from(#CC2434), to(#9A3334)); /* for webkit browsers */
 background: -moz-linear-gradient(top, #CC2434, #9A3334); /* for firefox 3.6+ */
}

.ppm_totalGauge{
   width: 160px;
   height: 25px;
   margin-right: 20px;
   background-color: #CCCECB;
}

.ppm_gapText{
    text-align: right;
    padding-right: 10px;
    font-size: 95%;
}

.ppm_gaugeHeader{
  color: #333;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  padding-right: 5px;
}

.ppm_gauge{
    height: 25px;
}

.ppm_gauge_label{
  vertical-align: top;
  text-align: left;
}

.boldText {
  font-weight: bold;
}

#ppm_claritysn img {
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAREAYAAABr/Zu5AAAFnElEQ�DCxg4gfZC+iw6yQDCh4okUc0C1U3GjvE+NrCP7UMKF+v4NuRVchkpi8c5AAAAASUVORK5CYII=);
width: 16px;
height: 15px;
}
#claritysn_box {
position: relative;
height: 20px;
margin-left: -50px;
margin-top: 5px;
z-index: 99999;
width: 200px;
background: rgba(255, 0, 0, 0);
cursor: default;
}
#claritysn_box ul {
display: block;
}
#claritysn_box li {
display: inline-block;
border: 1px solid rgb(150, 151, 153);
padding: 2px;
cursor: pointer;
background: #e7f0f8;
}
#claritysn_box li:hover{
  background: white;
}
#claritysn_box span {
    font-size: xx-small;
    display: block;
}
.socialmenu {
  width: 150px;
  display: block;
  float: left;
}
.socialmenu .pushbuttons {
background: transparent;
position: fixed;
width: 20px;
display: block;
z-index: 99999;
margin-top: 2px;
float: left;
top: 50%;
left: 0;
}
.socialmenu .pushbuttons:hover {
    cursor: pointer;
}
#socialmenuifr {
  position:fixed;
  border-top: 8px solid #041c3b;
  width: 150;
  z-index:9999;
}
#socialctx {
    display: block;
    float: right;
    width: 50%;
}

#socialmenu_product {
color: #fff;
font-family: Arial,Helvetica,Verdana,sans-serif;
font-size: 20px;
font-weight: bold;
}

#socialmenu_header_logo {
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAWCAYAAACosj4+AAABw0lEQVRIx62Wv0rFMBTGOzkJdnUrF9wuEgRRECHo4ODSwcExs1M2F8Fu4hScBBWLi25WfIFurn2EPkIfIZ7IuVDS/DnpNfDBpcnN+fXkyznNMs/YuP7hIAXqQNpSi3PF+D+Hb4sSpEAtSFsa8LkE5Rl1QBCGATVRNXs6FhCkd0D4ZOAqCowADQkwf9q6/dD7r0udALSSyiJHpOfKQM0AMipcMDkhM2a+D63ZeRB2sHZWlmCzKhDImJqP1hYeo6+yZPwhLLPLAFDrAgplp/Bk1LnehhlBtSSgiHeagOcU3kZbzANUUYFCx1VlMwYEYViTKlQTKAsToDoAJBMgBAZOvWUToFAR5ASQMrEorgVURmAkIWCPhiYfWTPHQ7ARj0DIcdH7L1OrAJDPL42reaYAlQGg3ge093Lgy07ueQFFBcojLUO4mvDy8dy1eeeByckeIlx9jcfKUeb34AEyYg6gOrV1FKndfaGuQt86Ek1fEhps62sFMgVo8+Zbr1F7osc87k9kqO27+6TAvrnLr7McVIGYC6qMffeMbyF7PuoIMA0a2zl/8XliYDpQHfucbRxwPT4XkT424DNu1aKJTt93GWaI/wJ/NIHZHSMBAgAAAABJRU5ErkJggg==);
margin: 6px 0px 0px 5px;
width: 36px;
height: 22px;
}
.socialmenu_header {
width: 100%;
background-color: #B3C8DB;
background: linear-gradient( #B3C8DB, #92A6B8 );
background: -moz-linear-gradient(#B3C8DB, #92A6B8);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B3C8DB), to(#92A6B8));
-pie-background: linear-gradient(#B3C8DB, #92A6B8);
border-bottom: 1px solid #aebdcb;
color: #001122;
}
#socialmenu table {
min-height: 40px;
}

#clickToSocial:hover {
    cursor: pointer;
}

#clickToSocial {
height: 15px;
position: absolute;
width: 15px;
right: 0;
padding: 0;
float: right;
}
